@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
._chat-animation {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}
.scrollableData::-webkit-scrollbar {
  width: 0.45em;
}
.scrollableData::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}